@media only screen and (max-width: 600px){
    body{
        background-color: 35deg, #f5f7fa 0%, #c3cfe2 100%;
    }
    
    @font-face {
        font-family: "Lato";
        src: url();
    }
}

main{
    box-shadow: 1px 1px 1px 1px darkgray;
    background-color: whitesmoke;
}

[Jegfbsejfbeskbgjeksbgajeasøbgaø]