@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    img {
        width: 95vw;
    }
    header {
        height: 55vh;
        background-image: url(/project/assets/img/studentsbg.png);
        background-position: center;
        text-align: center;
        width: 100%;
        background-attachment: fixed;
        color: white;
    }
    header>div {
        background-color: #c5192d;
        position: relative;
        margin-top: 4rem;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(/project/assets/fonts/Montserrat-Bold.ttf);
    }
    p {
        max-width: 70ch;
        line-height: 1.5;
    }
    h1 {
        size: 4rem;
    }
    h2 {
        size: 2.2rem;
    }
    h1,
    h2 {
        font-family: "Montserrat", sans-serif;
    }
    main {
        box-shadow: 0px 0px 1px 0px darkgray;
        background-color: whitesmoke;
    }
    #intro-container {
        background-color: #c5192d;
    }
    li:first-child::before {
        content: "\1F64C";
        width: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    li:nth-child(2)::before {
        content: "\1F3EB";
        width: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    li:last-child::before {
        content: "\1F4DA";
        width: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    ul {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
    }
    div {
        padding: 15px;
    }
}

@media screen and (min-width:600px) and (max-width:960px) {
    header {
        height: 65vh;
    }
    header,
    main,
    footer {
        width: 85%;
    }
    div {
        display: inline-block;
    }
}

@media only screen and (min-width:961px) {
    .article {
        display: inline-block;
    }
}


/* (hint: you may need to use pseudo-elements to create this background. If so, you may need to adjust the z-index of the different elements. 
The z-index accepts both negative and positive values */